/* -----------------  Estilos generales  ----------------- */
body {
    padding-top: 30px;
}
#centrar{
    margin: auto;
    padding: 20px 500px 20px 500px;
    width: 100%;
    text-align: left;
    font-family: : Times New Roman 12 px;
}