/* -----------------  Estilos generales  ----------------- */
body {
    padding-top: 30px;
}
#centrar{
    text-align: left;
    font-family:Times New Roman 12px;
}
#error_1{
    display: none;
}
#boton_cerrar_modal{
     margin: auto;
     position: relative; 
     left: 90%;
}
#logincarga{
    margin: auto;
}
.panel.callout {
    background: white;
}
.button
{
    background: mediumturquoise;
}
.texto{
    margin: 2px;
}
.fond
{
    background: white ;
}
.top-bar{	
    height: 75px;
}
.imagen{
    margin-top: 10px;
}
.imagen-right{
    margin-top: 10px;
}
.imagen1
{
    display: block;
    margin: auto;
    height: 60px;
    padding: 5px;
    alignment-adjust: central;
}

.search-label{
    position: absolute;
    width: 200px;
    display: block;
    left: 80%;
    top: 27%;
}
.panel-layout{
    width: 80%;
}