
<!--  lasdfsdfjdslfj  -->
<!DOCTYPE html>
<html>
<head>
	<title>Portal Usuarios</title>
	<meta charset ="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/foundation.css">
	<meta http-equiv="refresh" content="5">
	<style type="text/css">
	.left-bar{	
		width: 150px;
		height: 100%;
		background: #21A38F;
		
	}
	</style>
</head>
<body>
	<div class="top-bar">
		<ul class="title-area">
			<li><a href="#"><img src="img/corazon.png"></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				<li><a href="#"><img src="img/define.png">Define</a></li>
				<li><a href="#"><img src="img/organiza.png">Organiza</a></li>
				<li><a href="#"><img src="img/actividades.png">Actividades</a></li>
				<li><a href="#"><img src="img/invitation.png">Invitados</a></li>
				<li><a href="#"><img src="img/mesa_regalos.png">Mesa de regalos</a></li>
				<li><a href="#"><img src="img/message.png">Mensajes</a></li>
				

			</ul>
			<ul class="right">

				<li><a href="#"><img src="img/config.png">Ajustes</a></li>
				<li><a href="#"><img src="img/salir.png">Salir</a></li>
			</ul>
		</section>
	</div>
	<div class="left-bar">
		<center>
		<p>Cuenta regresiva</p>
		</center>
	</div>

</body>
</html>